manifest {
    author        = "Nicholas Noll"
    name          = "Data Science Demo"
    description   = "Pipeline to align cfDNA data obtained at Kariusdx to Eukaryotic genomes"
    defaultBranch = "main"
}

plugins {
  id 'nf-amazon@2.1.4'
}

executor {
    $local {
        cpus      = 8
        memory    = '64 GB'
        queueSize = 2
    }
}

profiles {

    local {
        docker {
            enabled    = true
            tmp        = '/tmp'
        }

        process {
            container = '573640641260.dkr.ecr.us-east-1.amazonaws.com/fragmentomics:v0.5.0'
        }

        aws {
            region = 'us-east-1'
            client {
                s3PathStyleAccess = true
                endpoint = "https://lakefs.datacore.kariusdx.com"
                s3AccessKey = 'XXXXXXXX'
                s3SecretKey = 'YYYYYYYY'
            }
        }

        params {
            directory {
                assets  = "assets"
                results = "results"
            }
        }
    }

    remote {
        docker {
            enabled = true
            tmp     = 'auto'
        }

        process {
            container = '573640641260.dkr.ecr.us-east-1.amazonaws.com/fragmentomics:v0.5.0'
            errorStrategy = 'terminate'

            withLabel: cloud {
                executor  = 'awsbatch'
                queue     = 'nextflow-test'
            }
        }

        aws {
            region = 'us-east-1'
            client {
                s3PathStyleAccess = true
                endpoint = "https://lakefs.datacore.kariusdx.com"
                s3AccessKey = 'AKIAJX42FKU5LUBHBTYQ'
                s3SecretKey = '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'
            }
        }

        params {
            directory {
                assets  = "s3://demo/main/assets"
                results = "s3://demo/main/results"
            }
        }
    }
}
